HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/dataSources/*/entities/*
.idea/dataSources/*/entities.dat
.idea/dataSources/*/entities.dat.values
.idea/dataSources/*/entities.dat.values.at
.idea/dataSources/*/entities.dat.values.s
.idea/dataSources/*/entities.dat_i
.idea/sonarlint/issuestore/index.pb

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
logs/spring-boot-logger.log
logs/archived/*